
.site-footer {
  
    background-size: cover;
    background-color: rgb(123, 173, 235);
    background-position: center;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer-column {
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    padding: 10px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  ul {
    padding: 0;
    list-style: none;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }