.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-variable{
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 45%;
}
.category-container {
  margin-bottom: 1rem;
}

.category-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ecd0ea;
  padding: 0.1rem;
  border-radius: 4px;
  padding-left: 50px;
}

.subcategory-container {
  margin-top: 0.5rem;
}

.margin-t{
  margin-bottom: 100px;
}

.pickUp-card-container{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.heading-pickup{
  color: blue;
  font-weight: 800;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .pickUp-card-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}


.name-card {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group-PastOrders{
  margin-bottom: 15px;
  width: 20%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Add responsive styles as needed */
@media (max-width: 600px) {
  .name-card {
    max-width: 100%;
  }
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 3px;
  border: none;
  border-radius: 5px;
  background-color: #3498db; /* Button color */
  color: #ffffff; /* Text color */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-button:hover {
  background-color: #2980b9; /* Change color on hover */
}

/* Add media queries for responsiveness */
@media (max-width: 600px) {
  .custom-button {
    width: 100%; /* Make the button full width on small screens */
  }
}
/* YourStyles.css */

.table-wrapper {
  overflow-x: auto;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px; /* Adjust the margin as needed */
}

.custom-table-pastOrder{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
   /* Adjust the margin as needed */
   margin-bottom: 50px;
}
.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.custom-table-pastOrder th,
.custom-table-pastOrder td {
  border: 1px solid #0e0c0c;
  padding: 8px;
  text-align: left;
}
/* Add responsive styles for smaller screens */
@media (max-width: 600px) {
  .custom-table {
    font-size: 14px; /* Adjust the font size as needed */
  }

  .custom-table th,
  .custom-table td {
    padding: 6px;
  }
}


.create_list{
  color: rgb(2, 10, 10);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
}