/* Sidebar.css */

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #997878;
  padding-top: 20px;
  color: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.main-categories {
  list-style-type: none;
  padding: 0;
}

.main-categories li {
  padding: 10px;
  cursor: pointer;
}

.sub-categories {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

.sub-categories li {
  padding: 8px;
  cursor: pointer;
  color: #ccc;
}

.sub-categories li:hover {
  background-color: #555;
}
